
.material-symbols-outlined {
    vertical-align: middle;
}

.photograph-header {
    background-color: #FAFAFA;
    height: 300px;
    margin: 0 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.contact_button, ul {
    font-size: 18px;
    font-weight: 700;
    color: white;
    padding: 11px;
    width: 170px;
    height: 70px;
    border: none;
    background-color: #901C1C;
    border-radius: 5px;
    cursor: pointer;
}

.fixedLabel {
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: sticky;
    width: 300px;
    height: 50px;
    background-color: #DB8876;
}

.sort {
    display: flex;
    position: relative;
}

.sort p {
    font-weight: 700;
    font-size: 18px;
    margin: 20px 0 58px 0;
}

.sort ul {
    position: absolute;
    list-style: none;
    background-color: #901C1C;
    border-radius: 5px;
    width: 170px;
    height: 69px;
    padding: 13px 10px;
    margin: 9px 0 0 99px;
    overflow: hidden;
    transition: height 500ms;
}

.sort .dropdown {
    height: 170px;
    padding: 9px 10px 6px 10px;
}

.sort .dropdown li {
    border-bottom: 1px solid white;
    padding: 14px 0 14px 10px;
}

.sort .dropdown span {
    transform: rotate(180deg);
}

.sort li {
    line-height: 23px;
    text-align: justify;
    font-weight: 700;
    padding: 10px 0px 10px 10px;
}

.sort  li:last-of-type {
    border-bottom: none;
}

.sort span {
    margin-left: 10px;
    font-size: 35px;
    line-height: 23px;
    z-index: 1;
    transform: none;
    transition: transform 500ms;
}

.photograph-medias {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 350px;
    gap: 70px;
}

.photograph-medias, .sort {
    margin: 0 100px;
}

.photograph-medias img, .photograph-medias video {
    max-width: 100%;
    min-width: 100%;
    height: 100%;
    border-radius: 5px;
    object-fit: cover;
    object-position: 50% 30%;
}

.photograph-medias .material-symbols-outlined {
    color: #8F8F8F;
    transition: 300ms;
}

.photograph-medias .material-symbols-outlined:hover {
    cursor: pointer;
    color: #901C1C;
    transform: scale(1.1);
}

.photograph-medias .liked {
    color: #901C1C;
}

.fixedLabel {
    position: fixed;
    bottom: 0;
    right: 20px;
    border-radius: 5px 5px 0 0;
    z-index: 1;
}

.modal {
    border-radius: 5px;
    background-color: #DB8876;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 35px;
    margin: auto;
}

.modal header {
    justify-content: space-between;
    width: 100%;
}

.modal header img {
    cursor: pointer;
}

.modal header h2 {
    font-size: 64px;
    font-weight: normal;
    text-align: center;
}

form {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
}

form label {
    color: #312E2E;
    font-size: 36px;
}

form div {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: self-start;
    margin-bottom: 26px;
}

form input {
    width: 100%;
    height: 68px;
    border: none;
    border-radius: 5px;
}

#contact_modal, #lightbox {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    background-color: rgba(255, 255, 255, 0.8);
}

#lightbox span {
    color: #901C1C;
    position: fixed;
    transition: 300ms;
}

#lightbox span:hover {
    cursor: pointer;
}

#lightbox .close-button {
    font-size: 42px;
    right: 0;
    margin-top: 5vh;
    margin-right: 23px;
    z-index: 1;
}

#lightbox .nav-button {
    font-size: 48px;
    line-height: 80vh;
    margin-top: 10vh;
}

#lightbox .prev {
    left: 0;
    margin-left: 20px;
}

#lightbox .next {
    right: 0;
    margin-right: 20px;
}

#lightbox-image {
    position: fixed;
    max-height: 90vh;
    max-width: 80vw;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}